.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #373737;
}

.sub-main-menu{
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 550px;
  width: 75%;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #212121;
}

.content-menu{
  width: 75%;
  /*position: relative;*/
}

.node-row{
  height: 70%;
  text-align: left;
  width: 100%;
}

.row > *{
  flex-basis: 100%;
  
}
.h4-node{
  margin-left: 8%;
}

.button-job{
  width: 30%;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}
.button-job:hover{
  background-color: rgb(119, 49, 210);
}

h1,h3,h4,label{
  color: white;
  font-family: 'Poppins', sans-serif;
}

.a-node{
  color: rgb(49, 222, 225);
}

.a-test{
  color: rgb(49, 222, 225);
  display: inline-block;
  transition: .3s;
  font-weight:bold;
  text-decoration:none;
  margin-right: 3px;
  font-family: 'Poppins', sans-serif;
}

.a-test:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}