.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #373737;
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: white;
}

.logo{
  padding-top: 10px;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}
  
.lock-logo{
  height: 80px;
  width: 80px;
}


.input-label{
  padding-left: 20px;
  font-size: 20px;
}

.link-reg{
  font-size: 20px;
}

.error{
  color: red;
}

.link-to{
  color: rgb(49, 222, 225);
}

