.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #373737;
}

.sub-main-menu{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: white;
}

.content-menu{
  width: 75%;
}

.row{
  display: flex;
  height: 70%;
  width: 100%;
}

.row > *{
  flex-basis: 100%;
  
}

.column-menu{
  float: left;
  width: 33.3%;
  border-radius: 10px;
  margin: 2%;
  position: relative;
  height: 90%;
  border: 5px solid rgb(139, 82, 214);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
}

.column-menu:hover{
  background-color: rgba(17, 17, 17, 0.476);
  transform: scale(1.02); 
}

.p-menu{
  padding: 5%;
}

.button-menu{
  width: 80%;
  height: 15%;
  border-radius: 10px;
  background-color: rgb(139, 82, 214);
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
  margin-top: 30%;
  transition: all 0.5s;
}

.button-menu:hover{
  background-color: rgb(119, 49, 210);
}
