.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #373737;
}

.sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #212121;
}

.button-home{
  margin-top: 3%;
  margin-bottom: 3%;
  transition: all 0.5s;
}
.button-home:hover{
  background-color: rgb(119, 49, 210);
}

.kfc-logo{
  width: 500px; 
  height: 300px;
  margin-bottom: -30px;
  margin-top: -30px;
}
