.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #373737;
  }
  
  .sub-main-error{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 400px;
    width: 40%;
    padding-top: 30px;
    border-radius: 10px;
    background-color: #212121;
  }